# build.properties for ceefit

#########################
# which.compiler = a symbolic keyword corresponding to an ant-contrib cpptasks compiler engine:
#   Possible values are:  
#       gcc (default) 	GCC C++ compiler
#       g++ 	GCC C++ compiler
#       c++ 	GCC C++ compiler
#       g77 	GNU FORTRAN compiler
#       msvc 	Microsoft Visual C++
#       bcc 	Borland C++ Compiler
#       msrc 	Microsoft Resource Compiler
#       brc 	Borland Resource Compiler
#       df 	Visual Fortran Compiler
#       midl 	Microsoft MIDL Compiler
#       icl 	Intel C++ compiler for Windows (IA-32)
#       ecl 	Intel C++ compiler for Windows (IA-64)
#       icc 	Intel C++ compiler for Linux (IA-32)
#       ecc 	Intel C++ compiler for Linux (IA-64)
#       CC	Sun ONE C++ compiler
#       aCC 	HP aC++ C++ Compiler
#       os390 	OS390 C Compiler
#       os400 	Icc Compiler
#       sunc89 	Sun C89 C Compiler
#       xlC 	VisualAge C Compiler

which.compiler=g++



########################
# debug.mode
#   Possible values:
#     true  : build code with debugging enabled
#     false : (default) build code with debugging disabled

debug.mode=false


########################
# release.mode
#   Possible values:
#     true  : build code with optimizations enabled
#     false : (default) build code with optimizations disabled

release.mode=false


########################
# incremental.compile
#   Possible values:  (default is whatever debug.mode is set to)
#     true  : incremental compilation is enabled
#     false : incremental compilation is disabled

#incremental.compile=false


########################
# intel.target : Is an intel IA32 compatible processor the target?
#   Possible values:  
#     true  : (default) IA32 is the target
#     false : something other than IA32 is the target

intel.target=true

